<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/main.css" />
        <title>Document</title>
    </head>
    <body>
        <main class="admin-panel">
            <h2>Admin Panel</h2>
            <div class="separator"></div>
            <ul>
                <li>
                    <button class="active" id="admin-button-view-entries">
                        View Entries
                    </button>
                </li>
                <li><button id="admin-button-add-entry">Add Entry</button></li>
                <li>
                    <button id="admin-button-view-insights">
                        View Insights
                    </button>
                </li>
            </ul>
            <section id="content"></section>
        </main>
        <script type="text/javascript" src="/static/js/admin.js"></script>
    </body>
</html>
